
body{
  background-color: white;
}

header{
  @include angled-edge('outside bottom','lower left', #ffffff, 50);

}

#logo-holder{
  padding-top: 80px;
  height: 90vh;
  text-align: center;
}

#LOGO{
  height: 100%;
  margin: 0px auto;
}

.wrapper{

  .container{
    background: #8976DC; /* Old browsers */
    background: -moz-linear-gradient(left,  #8976DC 20%, #00D18E 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #8976DC 20%,#00D18E 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #8976DC 20%,#00D18E 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8976DC', endColorstr='#00D18E',GradientType=1 ); /* IE6-9 */

    position: relative;
    color: white;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;

    @include breakpoint(1024px){
      padding-left: 50px;
      padding-right: 50px;
    }

    @include angled-edge-gradient('outside bottom','lower right', #8976DC, #00D18E, '20%', '100%',40);

    &:nth-child(2n){
      background: #F9B30A; /* Old browsers */
      background: -moz-linear-gradient(left,  #F9B30A 20%, #DC397E 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #F9B30A 20%,#DC397E 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #F9B30A 20%,#DC397E 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9B30A', endColorstr='#DC397E',GradientType=1 ); /* IE6-9 */
      @include angled-edge-gradient('outside bottom','lower left', #F9B30A, #DC397E, '20%', '100%',40);
    }
  }

  .content-holder{
    position: relative;
  }

  .text{
    padding-left: 0;
    width: 100%;
    padding-top: 0;
    position: relative;
    top: auto;
    transform: translateY(0);
    display: inline-block;
    float: none;

    @include breakpoint(1024px){
      padding-left: 10%;
      padding-top: 80px;
      width: 50%;
      top: 50%;
      position: absolute;
      transform: translateY(-50%);
    }
  }

  .content-holder{
    @extend %clearfix;
    margin: 0px auto;
    padding: 50px;
  }

  .container--right{
    .site-images{
      float: none;

      @include breakpoint(1024px){
        float: right;
      }
    }

    .text{
      position: relative;
      float: none;
      padding-right: 0;
      padding-left: 0;
      text-align: left;

      @include breakpoint(1024px){
        padding-right: 10%;
        float: left;
        position: absolute;
      }
    }

    .iphone-holder{
      margin-top: -55%;
      width: 30%;
      left: -12%;
      position: relative;
      z-index: 3;
    }
  }

  .site-images{
    float: left;
    margin-top: 80px;
    padding-bottom:40px;
    width: 100%;
    padding: 5%;
    margin-bottom: 40px;

    @include breakpoint(1024px){
      margin-bottom: 0;
      width: 50%;
    }

    &:hover{
      .mac-iphone{
        @include opacity(0.5);
        transition: all 0.5s ease;
      }
    }
  }

  .mac-iphone{
    max-width: 600px;
    margin: 0px auto;
    transition: all 0.5s ease;
  }
}

.outbound-link{
  position: relative;
  @extend %clearfix;
}

.mac-holder, .iphone-holder{
  position: relative;
}

.iphone-holder{
  margin-top: -55%;
  width: 30%;
  right: -80%;
  position: relative;
  z-index: 3;
}

.mac-image, .iphone-image{
  position: absolute;
}

.mac-image, .iphone-image{
  left: 0;
  top: 0;
  z-index: 1;
}

.mac-image{
  left: 3.5%;
  top: 4.3%;
  width: 93.5%;
  height: 68%;
}

.iphone-image{
  left: 8%;
  top: 17%;
  width: 85%;
  height: 66%;
}

.mac, .iphone{
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
}
